.portfolio {
	max-width: 1280px;
	margin: 0 auto;
}

.portfolio__header {
	margin: 0 70px 30px 70px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #8b8b8b;
}

.portfolio__main {
	padding: 0 70px 125px 70px;
	display: flex;
	flex-direction: column;
}

.portfolio__example {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: -0.04em;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #424242;
	display: flex;
	justify-content: space-between;
}

.portfolio__example:last-child {
	border: none;
}
