.navigation {
	max-width: 381px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation__link {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}

.navigation__link_green {
	width: 76px;
	height: 32px;
	background-color: #3ddc84;
	color: #000;
	text-align: center;
	line-height: 32px;
	border-radius: 3px;
}
