.about-project {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 70px 0 70px;
	box-sizing: border-box;
}

.about-project__header {
	margin: 110px 0 0 0;
	height: 57px;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	color: #ffffff;
	border-bottom: 1px solid #dadada;
}

.about-project__main {
	display: grid;
	grid-template-columns: repeat(2, minmax(284px, 550px));
	column-gap: 40px;
	row-gap: 56px;
	margin: 70px 0 0 0;
}

.about-project__description {
	max-width: 550px;
	min-width: 284px;
}

.about-project__description-heading {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #ffffff;
	margin: 0 0 26px 0;
}

.about-project__description-paragraph {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	margin: 0;
}

.about-project__schema {
	padding: 93px 0 90px 0;
	display: grid;
	grid-template-columns: 21% 79%;
}

.about-project__backend {
	background-color: #3ddc84;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: #000000;
}

.about-project__frontend {
	background-color: #303030;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
}

.about-project__article {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 36px;
	color: #8b8b8b;
	text-align: center;
}

@media screen and (max-width: 1100px) {
	.about-project {
		padding: 0 30px 0 30px;
	}

	.about-project__header {
		margin: 90px 0 0 0;
	}

	.about-project__main {
		column-gap: 30px;
		row-gap: 22px;
		margin: 70px 0 0 0;
	}

	.about-project__description-paragraph {
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 650px) {
	.about-project__header {
		margin: 70px 0 0 0;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.04em;
	}

	.about-project__main {
		margin: 60px 0 0 0;
		row-gap: 54px;
	}

	.about-project__description-heading {
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.04em;
		margin: 0 0 16px 0;
	}

	.about-project__description-paragraph {
		font-size: 11px;
		line-height: 16px;
	}

	.about-project__main {
		grid-template-columns: repeat(auto-fill, 284px);
		justify-content: center;
	}

	.about-project {
		padding: 0 18px 0 18px;
	}

	.about-project__schema {
		grid-template-columns: 35% 65%;
		padding: 60px 0 90px 0;
	}
}
